/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/body{font-family:'Lato', sans-serif;font-size:14px}
    body.active{overflow:hidden;z-index:-1}
    .no-js #experience-timeline>div{background:#fff;padding:10px;margin-bottom:10px;border:1px solid #dcd9d9}
    .no-js #experience-timeline>div h3{font-size:1.5em;font-weight:300;color:#ffd026;display:inline-block;margin:0}
    .no-js #experience-timeline>div h4{font-size:1.2em;font-weight:300;color:#ffd026;margin:0 0 15px 0}
    .no-js #experience-timeline>div p{color:#ffd026;font-size:0.9em;margin:0}
    .no-js #experience-timeline:before,

    .no-js #experience-timeline:after
    {content:none}@keyframes
        dropHeader{0%{transform:translateY(-100%)}100%{transform:translateY(0)}}
            header{position:absolute;top:0;left:0;right:50px;text-align:-webkit-right;z-index:10;animation-name:dropHeader;animation-iteration-count:1;animation-timing-function:ease;animation-duration:0.75s}
            header ul{display:inline-block;background:#ffffff00;text-align:center;padding:10px;margin:0;border-bottom-right-radius:10px;border-bottom-left-radius:10px}
            header li{display:inline-block}
            header a{display:block;color:#0b0213;padding:20px;font-size:16px}
            header a:hover{color:#f9f9f9;text-decoration:none;background:rgb(135, 143, 225,0.7);border-radius:4px}
            header a:focus{color:#ebc324;text-decoration:none}
            header.active{display:block}
            header.sticky{position:fixed;z-index:999}
                #menu.active{display:block}
                #mobile-menu-open{display:none;cursor:pointer;position:fixed;right:15px;top:10px;color:#886f0a;font-size:1.5em;z-index:20;padding:0 7px;border-radius:4px;background:#fff}
                #mobile-menu-close{display:none;text-align:right;width:100%;background:#fff;font-size:1.5em;padding-right:15px;padding-top:10px;cursor:pointer;color:#3498db}
                #mobile-menu-close span{font-size:0.5em;text-transform:uppercase}
                #mobile-menu-close i{vertical-align:middle}footer{padding:50px 0}
                .copyright{padding-top:20px}.copyright p{margin:0;color:#74808a}
                .top{text-align:center}
                .top span{cursor:pointer;display:block;margin:15px auto 0 auto;width:35px;height:35px;border-radius:50%;border:3px solid #b9bfc4;text-align:center}
                .top i{color:#74808a}

                .social{text-align:left}

                .social ul{margin:5px 0 0 0;padding:5}
                .social li{display:inline-block;font-size:1.25em;list-style:none}
                .social a{display:block;color:#ffffff;padding:10px}
                .social a:hover{color:#fffb8d}



                .contact-icon a{display:block;:2em;color:#ffffff;padding:0px;position:-webkit-sticky}
                .contact-icon a:hover{color:#fffb8d}


                .btn-rounded-white{display:inline-block;color:rgb(12, 16, 1);top:50%;margin:20px;padding:15px 25px;border:3px solid #fff;border-radius:30px;transition:.5s ease all}

                .btn-rounded-white:hover{color:#7d8c24;background:#fff;text-decoration:none}
                .shadow{box-shadow:0 1px 3px rgba(0, 0, 0, 0),0 1px 2px rgba(0,0,0,0.0)}
                .shadow-large{box-shadow:0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.15)}
                .heading{position:relative;display:inline-block;font-size:2em;font-weight:600;margin:0 0 30px 0}
                .heading:after{position:absolute;content:'';top:100%;height:2px;width:50px;left:0;right:0;margin:0 auto;background:#3c2b7f}
                .background-alt{background:#f2f2f5}#lead{position:relative;height:100vh;min-height:500px;max-height:1080px;background:url(../images/lead-bg.jpg);background-size:cover;padding:15px;overflow:hidden}
                #lead-content{position:absolute;z-index:10;top:30%;left:25%;transform:translate(-43%, -30%);text-align:center}
                #lead-content h1,#lead-content h2{margin:0}#lead-content h1{color:rgb(23, 33, 65);font-weight:900;font-size:6em;text-transform:capitalize;letter-spacing:0.05em;line-height:0.9em}
                #lead-content h2{color:#122531;opacity:0.5;font-weight:300;font-size:2.25em;margin:20px}

                #lead-content-button{color:#122531;position:absolute;z-index:101;top:75%;left:40%;right:20px;transform:translate(-50%, -80%);text-align:justify}
                #lead-content-about h2{font-size:20px;left:10px;bottom:30px}
                #lead-content-about h3{position:relative;font-size:13px;left:0px;top:5px}
                #lead-content-about{color:#122531;position:absolute;z-index:100;top:75%;left:75%;right:20px;transform:translate(-50%, -80%);text-align:justify}

                #lead-overlay{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0;
                    background:linear-gradient(to right bottom, #fbdc7b, #ffc186, #ffaba6, #ffa1ce, #e5a5f0, #c1b3ff, #9cc0ff, #7fc9ff, #8bd9fd, #a1e7fb, #bdf3fa, #dafffd);opacity: 0.7;
                    ;z-index:1}
                #lead-overlay-white{position:absolute;height:40%;width:55%;top:10%;bottom:60%;left:25px;
                        background:#f2f2f5;opacity: 0.3;
                        ;z-index:2}
                #lead-down{position:absolute;left:0;right:0;width:100%;text-align:center;z-index:10;bottom:15px;color:#fff}
                #lead-down span{cursor:pointer;display:block;margin:0 auto;width:35px;height:35px;border-radius:50%;border:3px solid #a0cfee;text-align:center}
                #lead-down i{animation:pulsate 1.5s ease;animation-iteration-count:infinite;padding-top:5px}@keyframes pulsate{0%{transform:scale(1, 1)}50%{transform:scale(1.2, 1.2)}100%{transform:scale(1, 1)}}




                #about{padding:75px 15px;border-bottom:1px solid #dcd9d9}
                #about h2{color:#374054}
                #about p{color:#74808a;margin:0}

                #experience{padding:50px 15px;text-align:center;border-bottom:1px solid #dcd9d9}
                #experience h2{color:#374054}

                #experience-timeline{margin:30px auto 0 auto;position:relative;max-width:1000px}
                #experience-timeline:before{position:absolute;content:'';top:0;bottom:0;left:225px;right:auto;height:100%;width:3px;background:#3498db;z-index:0}
                #experience-timeline:after{position:absolute;content:'';width:3px;height:40px;background:#3498db;background:linear-gradient(to bottom, #3498db, rgba(52,152,219,0));top:100%;left:225px}
                    .vtimeline-content{margin-left:270px;background: linear-gradient(338.83deg,#f4d9f8 10.41%,rgb(205, 228, 255) 90.31%),#cdcbff;
                        transition: transform .3s ease-in-out, box-shadow .3s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;border:1px solid #e6e6e6;padding:15px;border-radius:3px;text-align:left}

                    .vtimeline-content:hover{ box-shadow: 0 10px 30px rgba(51, 51, 51, .25); -moz-transform: translateY(-10px)}


                        .vtimeline-content h3{font-size:1.5em;font-weight:300;color:#161a22;display:inline-block;margin:0}
                    .vtimeline-content h4{font-size:1.2em;font-weight:300;color:#515b63;margin:0 0 0px 0}
                    .vtimeline-content p{color:#272e34;font-size:0.9em;margin:0}
                    .vtimeline-point{position:relative;display:block;vertical-align:top;margin-bottom:30px}

                    .vtimeline-icon{position:relative;color:#fff;width:50px;height:50px;background:#81bce4;border-radius:50%;float:left;z-index:99;margin-left:200px}
                    .vtimeline-icon i{display:block;font-size:2em;margin-top:10px}
                    .vtimeline-date{width:190px;text-align:right;position:absolute;left:0;top:10px;font-weight:300;color:#374054}






                #education{padding:50px 15px 20px 15px;border-bottom:1px solid #fbcde5;background:#fbcde5,0.3;text-align:center}
                #education h2{color:#374054;margin-bottom:50px}
                .education-block{max-width:850px;border-radius: 5px;margin:0 auto 30px auto;padding:15px;border:2px solid #dcd9d900;text-align:left;background: linear-gradient(338.83deg,#f4d9f8 10.41%,rgb(205, 228, 255) 90.31%),#cdcbff;
                    transition: transform .3s ease-in-out, box-shadow .3s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;
            }


            .education-block:hover{
                background-size: 400%;
                z-index: -1;

                box-shadow: 0 10px 50px rgba(51, 51, 51, .25);
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                transform: translateY(-10px)
            }



                .education-block h3{font-size:25px;font-weight:500;float:left;margin:0;color:#374054}
                .education-block span{color:#74808a;float:right}
                .education-block h4{color:#74808a;clear:both;font-weight:500;margin:0 0 15px 0}
                .education-block p,
                .education-block ul{margin:3px;color:#74808a;font-size:0.9em}
                .education-block ul{padding:0 10px 0 15px}


                #projects{padding:50px 15px;border-bottom:1px solid #dcd9d9;text-align:center}
                #projects h2{color:#374054;margin-bottom:50px}
                .project{position:relative;width:950px;left:10px;margin:0 auto 40px auto;overflow:hidden;background:#fff;border-radius:4px;
                    background: rgb(254,235,226,0.3);
                          transition: transform .3s ease-in-out, box-shadow .3s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;}
                .project-image{float:left}
                .project-info{position:absolute;top:40%;transform:translateY(-50%);margin-left:330px;padding:15px}
                .project-info h3{text-align: left;font-size:1.5em;font-weight:600;color:#374054;margin:10px 0 30px 0}
                .project-info p{color:#74808a;margin:15px 0 15px 0;font-size:1.2em;text-align:left}
                .project-info a{margin:30 10 15px 0;padding:60px;margin-top:10%;font-size:1.3em}
                .no-image .project-info{position:relative;margin:0;padding:30px 15px;transform:none}
                #more-projects{display:none}

                #skills{padding:50px 15px;text-align:center}
                #skills h2{color:#374054;margin-bottom:50px}
                #skills ul{display:block;margin:0 auto;padding:0;max-width:800px}
                #skills li{display:inline-block;margin:7px;padding:5px 10px;padding-top: 10px;color:#374054;background:linear-gradient(45deg, rgba(148,178,240,0.3) 0%, rgba(250,184,239,0.3) 100%);list-style:none;cursor:default;font-size:1.2e;transition: transform .3s ease-in-out, box-shadow .3s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;}

                #contact{padding:50px 15px;background:linear-gradient(45deg, rgba(1 0.288) 0%, rgba(230, 143, 233, 0.414) 100%);text-align:center}
                #contact h2{margin:0 0 15px 0;color:rgb(3, 3, 4);font-weight:500}
                #contact-form{max-width:500px;margin:0 auto}
                #contact-form input,#contact-form textarea{display:block;width:100%;padding:10px;border-radius:4px;border:none;margin-bottom:10px;background:linear-gradient(45deg, rgba(148,178,240,0.7) 0%, rgba(250,184,239,0.7) 100%);color:rgb(17, 7, 24);transition:.5s ease all}
                #contact-form input::-webkit-input-placeholder,
                #contact-form textarea::-webkit-input-placeholder{color:rgb(7, 1, 1)}
                #contact-form input:-moz-placeholder,
                #contact-form textarea:-moz-placeholder{color:rgb(3, 3, 4);opacity:1}
                #contact-form input::-moz-placeholder,
                #contact-form textarea::-moz-placeholder{color:rgb(3, 3, 4);opacity:1}
                #contact-form input:-ms-input-placeholder,
                #contact-form textarea:-ms-input-placeholder{color:rgb(3, 3, 4)}
                #contact-form input:focus,#contact-form textarea:focus{outline:none;background:#bee5ff}
                #contact-form textarea{height:150px;resize:none}
                #contact-form button{display:block;width:100%;background:#fff;border-radius:4px;padding:5px 10px;border:none;color:#3498db;font-weight:700;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);transition:.5s ease all}
                #contact-form button:hover{box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23)}

                .optional-section{padding:50px 15px;text-align:center;border-top:1px solid #dcd9d9}
                .optional-section h2{color:#374054}
                .optional-section-block{max-width:700px;margin:0 auto 30px auto;padding:15px;border:1px solid #dcd9d9;background:#fff;text-align:left}
                .optional-section-block h3{font-weight:500;margin:0 0 15px 0;color:#374054}
                .optional-section-block h4{color:#74808a;clear:both;font-weight:500;margin:0 0 15px 0}
                .optional-section-block p,
                .optional-section-block ul{margin:0 0 15px 0;color:#74808a;font-size:0.9em}
                .optional-section-block ul{padding:0 0 0 15px}@media only screen and (max-width: 750px)

                {#experience-timeline:before,#experience-timeline:after{left:23px}
                .vtimeline-date{text-align: right;text-align:left;position:relative;margin-bottom:15px;display:block;margin-left:30px}
                .vtimeline-icon{margin-left:0}
                .vtimeline-content{margin-left:70px}}@media only screen and (max-width: 992px){#lead{height:auto;min-height:auto;max-height:auto;padding:100px 15px}

                #lead-content{position:relative;transform:none;left:auto;top:auto}
                #lead-content h1{font-size:3em}
                #lead-content h2{font-size:1.2em;margin-top: 3px;}

                #about{text-align:center}
                #about p{text-align:left}}@media only screen and (max-width: 768px){header{position:fixed;display:none;z-index:999;animation:none;bottom:0;height:100%}

                #mobile-menu-open,s
                #mobile-menu-close{display:block}
                #menu{height:100%;overflow-y:auto;box-shadow:none;border-radius:0;width:100%}
                #menu li{display:block;margin-bottom:10px}#lead-content h1{font-size:2em}


                #lead-content h2{font-size:1.5em}#lead-content a{padding:10px 20px}

                #lead-down{display:none}
                .education-block h3,.education-block span{float:none}
                .project-image{display:none}

                .project-info{position:relative;margin:0;padding:30px 15px;top:auto;transform:none}
                footer{text-align:center}.social{text-align:center}}@media only screen and (max-width: 480px){#lead-content h1{font-size:1.5em}#lead-content h2{font-size:1em}#lead-content a{font-size:0.9em;padding:5px 10px}}
